@font-face {
    font-family: 'TT Lakes Light';
    src: local('TT Lakes Light'), local('TTLakes-Light'),
        url('../fonts/TTLakes-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Regular';
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Medium';
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Bold';
    src: local('TT Lakes Bold'), local('TTLakes-Bold'),
        url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

