$border1:#D9FFF5;
$border2:#EAEAEA;
$border3:#41F6D7;
$border4:#B8FFEC;
$main-background:#F8F8F8;
$pagActive:#B5B6BC;
$paganation:#DDDDDD;
$bg-btn:#FF3E79;
$background:#fff;
$text1:#1B1C21;
$text2:#7E7E82;



